.main-nav {
    height: 70px;
    color: #FFF;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 40px;
    margin: 0;

}

.nav-logo-text {
    width: 30%;
    color: #FFF;
}

.menu-container {
    width: 55%;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: nowrap;
}

.main-menu {
    max-width: 400px;
    display: flex;
    flex: 1;
    font-size: 18px;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-link {
    font-style: normal;
    color: rgba(255, 255, 255, 0.5);

    &.active {
        font-weight: bold;
        color: #FFF;
    }

    &:hover {
        color:#FFF;
    }
}