.home-container {   
    margin: 40px;
    padding: 0 40px;
}

.home-content {
    display: flex; 
    padding: 155px 0 150px 100px;
}

.text-title {
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.015em;
    padding-bottom: 26px;
}

.text-subtitle{
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    margin-bottom: 150px;
    color: #9E9E9E;
}

@media (max-width: 768px) {

    .home-content {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 20px 50px 20px;
    }

    .main-image {
        width: 350px;
        margin: 0 0 -20px -60px;
    }

    .home-text {
        width: 100%;
        height: 100px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
    }

    .text-title {
        font-size: 2.5em;
        text-align: center;
        letter-spacing: 0;
        line-height: 50px;
    }

    .text-subtitle {
        font-size: 1.2em;
        text-align: center;
        font-weight: 400;
        margin-bottom: 60px;
    }
}