.product-card-admin {
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    .product-currency {
        font-size: 14px;
    }

    .product-price {
        font-size: 24px;
    }
}

.border-image-line {
    border-right: 1px solid #e2e2e2;
}

.product-card-img-admin {
    width: 100px;
    height: 100px;
    margin: 0 10px;
}

.buttons-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    padding-left: 30px;
}

.product-card-name-admin {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
}

@media (max-width: 768px) {

    .card-content {
        margin-left: 10px;
    }

    .product-card-img-admin {
        margin: 0 10px;
    }
}

@media (max-width: 576px) {
    
    .product-card-admin {
        display: flex;
        flex-direction: column;
    }

    .card-content {
        width: 100%;
        padding: 10px;
    }

    .buttons-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: center;
        margin: 10px 0;
    }

    .border-image-line {
        border-bottom: 1px solid #e2e2e2;
        border-right: none;
    }

    .btn-product {
        width:135px;
        margin: 0;
    }

    
}