.upload-container {
    display: flex;
}

.upload-content {
    width: 50%;
}

.upload-button-container {
    label {
        background: #9E9E9E;
        border-radius: 10px;
        color: #FFF;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        padding: 10px 30px;
        cursor: pointer;
    }
}

.upload-text-helper {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.015em;
}

.upload-placeholder {

    .upload-progress-container {
        position: absolute;
        bottom: 10px;
        left: 25px;
        height: 10px;
        background: #E1E1E1;
        border-radius: 10px;
        width: 175px;
    }

    .upload-progress {
        background: #407BFF;
        border-radius: 10px;
        height: 10px;
        width: 50%;
    }
}

@media (max-width: 768px) {

    .upload-button-container label {      
        width: 200px      
    }

    .upload-placeholder {
        display: none;
    }
}

@media (max-width: 576px) {

    .upload-button-container label {
        width: 250px;
    }

    small {
        display: none;
    }

    .upload-placeholder {
        display: none;
    }
}